  body {
    margin: 40px;
  }
  
  .sidebar {
    /* Define the grid area here */
    grid-column: 1 / 2;
  }
  
  .content {
    /* Define the grid area here */
    grid-column: 1 / 12;
  }
  
  .header {
    /* Define the grid area here */
    grid-column: 1 / 12;
  }
  
  .footer {
    /* Define the grid area here */
    grid-column: 1 / 12;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  
    /* Define the grid-template-columns and grid-template-areas values here. */
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
      '....... header header'
      'sidebar content content'
      'footer  footer  footer';
  }
  
  .box {
    background-color: #080808;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .header, .footer {
    background-color: rgb(12, 12, 12);
  }
  
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }

  .well {
    text-align: center;
  }

  .Bio {
    text-align:justify;
  }

  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }



